<div class="hero-unit">
	<h1>About Mntr Me!</h1>
	<h4>Helping you by helping others.</h4>
	<p>Mntr Me is an initiative to connect people with various levels of work and life experience. Our goal is to help further your career prospects and help you obtain a career you love. We aim to acheive this by making it easier, faster, and more rewarding to share knowledge between mentors and mentees.</p>
	<h4>Be part of our community and shape the future of your industry! 
	</h4>	
</div>	

