<h1>About</h1>
<p>
	MNTR is a project to help connect inquisitive people who are entering the STEM (Science, Technology, Engineering, Maths) industry to those who are experienced and who want to see you succeed.
</p>
