<%# Bio %>
<div class="hero-unit">
	<div class="row">
	<%# Profile and Name %>		
	  <div class="span1">Image</div>
	  <div class="span5"> <h1>Mark Murray</h1> </div>

	  <%# Mntr Me details %>	    
     <div class="row">
	     <div class="span4">	
	     		<p></p>	     	
	     		<p>Advice Given to Others: 100 </p>
		      <p>My Difficulties I Overcame: 90/95</p>	      	
			 </div>
			</div>
		</div> 	

	 	<%# Start of User Buttons%>	
	 		<div class="row">
		  	<div class="span12">
			  	<div class="btn-toolbar">
		    				<button class="btn">Request to be a Mentor</button>
		    				<button class="btn">Request to be a Mentee</button>
		    				<button class="btn">Recommend To A Collegue</button>
		    				<button class="btn">Add to My Network</button>
					</div>
				</div>
			</div>		
		<%# End of User Buttons%>	

	<%# Secondary Profile and Name %>	
	   <div class="row">
		     <div class="span">
		     	<p>Occupation: Product Design </p>
	      	<p>Experience: 3 Years</p>	   	
	      	<p><button class="btn">View My LinkedIn Profile</button></p>
	      	<p><button class="btn">View My Skype Profile</button></p>
		     </div>
		    <%# End of Secondary Profile%>	
			</div>	
	 <%# End of row%>	

<%# End of Hero wrapper%>		
</div>
<%# End of Bio%>	

<%# People I am interested in %>
<div class="hero-unit">
	<div class="row">
	  <div class="span9"><h3>My People</h3>
	    
	  	<%# My Mentors/Mentees (Following)%>
	    <div class="btn-toolbar">
				  <div class="btn-group">
				   	<button class="btn">My Mentors</button>
	      		<button class="btn">My Mentees</button>
				  </div>
				</div>
				<%# End of My Mentors/Mentees (Following)%>

	    <%# My waiting list%>
	    <div class="row">
	      <div class="span6">Mentors/Mentees in waiting</div>
	    </div>
	    <%# End of My waiting list%>

	   	<%# My Network%>
	    <div class="row">
	      <div class="span6">My Network</div>
	    </div>
	    <%# End of My Network%>

	  </div>
	</div>	  
</div>
<%# End of People I am interested in %>

<%# My Advice / Difficulties %>
<div class="row">
  <div class="span6">
	  <div class="hero-unit">
			<h3>My Advice</h2>
			  <div class="row">
	    	  <div class="span6">My Latest Advice</div>
	    	</div>

				<div class="row">
	    	  <div class="span6">Pinterest feed</div>
	    	</div>
	    	
		</div>	
	</div>	


  <div class="span6">
  	<div class="hero-unit">
			<h3>My Difficulties</h2>
				<div class="row">
	    	  <div class="span6">My Latest Difficulty</div>
	    	</div>

				<div class="row">
	    	  <div class="span6">Pinterest feed</div>
	    	</div>

		</div>	
	</div>
</div>	

