<%# Bio %>
<div class="hero-unit">
	<div class="row">
	<%# Profile and Name %>		
	  <div class="span1">Image</div>
	  <div class="span5"> <h1>Mark Murray</h1> </div>

	  <%# Mntr Me details %>	    
     <div class="row">
	     <div class="span4">	
	     		<p></p>	     	
	     		<p>Advice Given to Others: 5</p>
		      <p>Problems I Overcame: 5/5</p>	      	
			 </div>
			</div>
		</div> 	

	 	<%# Start of User Buttons%>	
	 		<div class="row">
		  	<div class="span12">
			  	<div class="btn-toolbar">
		    				<button class="btn">Request to be a Mentor(followers)</button>
		    				<button class="btn">Request to be a Mentee (following)</button>
		    				<button class="btn">Recommend To A Collegue(email/share)</button>
		    				<button class="btn">Add to My Contacts(like)</button>
					</div>
				</div>
			</div>		
		<%# End of User Buttons%>	

	<%# Secondary Profile and Name %>	
	   <div class="row">
		     <div class="span">
		     	<p>Occupation: Product Design </p>
	      	<p>Experience: 3 Years</p>	   	
	      	<p><button class="btn">View My LinkedIn Profile</button></p>
	      	<p><button class="btn">Download business card</button></p>
		     </div>
		    <%# End of Secondary Profile%>	
			</div>	
	 <%# End of row%>	

<%# End of Hero wrapper%>		
</div>
<%# End of Bio%>	

<%# People I am interested in %>
<div class="hero-unit">
	<div class="row">
	  <div class="span9"><h3>My Mentoring Network</h3>
	    
	  	<%# My Mentors/Mentees (Following)%>
	    <div class="btn-toolbar">
				  <div class="btn-group">
				   	<button class="btn">My Mentors (20 max followers)</button>
	      		<button class="btn">My Mentees (20 max I'm following) </button>
	      			<div class="row">
	      				<div class="span6">
	      					<img src="profile1.png" alt="profile pic" />
	      					<img src="profile2.png" alt="profile pic" />
	      					<img src="profile2.png" alt="profile pic" />
	      					<img src="profile1.png" alt="profile pic" />
	      					<img src="profile2.png" alt="profile pic" />
	      				</div>	
	      			</div>	
				  </div>
				</div>
				<%# End of My Mentors/Mentees (Following)%>

	   	<%# My Network%>
	    <div class="row">
	      <div class="span6">
	      	<h3>My Contacts</h3> (likes, everyone you follow/follow you is added here)</div>
	     </div> 	
	      	
	     <div class="row">
	   			<div class="span6">
	     			<img src="profile1.png" alt="profile pic" />
	     			<img src="profile2.png" alt="profile pic" />
	     			<img src="profile2.png" alt="profile pic" />
	     			<img src="profile1.png" alt="profile pic" />
	     			<img src="profile2.png" alt="profile pic" />
	     		</div>	
      	</div>

	    
	    <%# End of My Network%>

	  </div>
	</div>	  
</div>
<%# End of People I am interested in %>

<%# My Advice / Difficulties %>
<div class="row">
  <div class="span6">
	  <div class="hero-unit">
			<h3>My Advice</h2>
				<div class="row">
	   			<div class="span6">
	     			<img src="advice1.png" alt="profile pic" />
	     			<img src="advice1.png" alt="profile pic" />
	     			<img src="advice1.png" alt="profile pic" />
	     			<img src="advice1.png" alt="profile pic" />
	     			<img src="advice1.png" alt="profile pic" />
	     		</div>	
      	</div>	
		</div>	
	</div>	


  <div class="span6">
  	<div class="hero-unit">
				<div class="row">
	    	  <div class="span2">
	    	  	<h3>My Difficulties</h2>
	    	  </div>		
	    	  <div class="span2">		
	    	  	<button class="btn">+</button>
	    	  </div>
		    	  <div class="row">
		   			<div class="span6">
		     			<img src="diff1.png" alt="profile pic" />
		     			<img src="diff1.png" alt="profile pic" />
		     			<img src="diff1.png" alt="profile pic" />
		     			<img src="diff1.png" alt="profile pic" />
		     			<img src="diff1.png" alt="profile pic" />
		     		</div>	
	      	</div>		
	    	</div>

		</div>	
	</div>
</div>	

