<div class="hero-unit">
	<h1>Welcome to Mntr Me!</h1>
	<p>The knowledge exchange site for Mentors and Mentees.</p>
</div>	

<div class="row">
  <div class="span6">
	  <div class="hero-unit">
		  <p>
			<h3>Become a Mentor Today</h2>
			<p>
			Share your wisdom and meet the future superstars of your industry.
			</p>
				<p>
					<%= link_to "Sign Up Now To Become A Mentor", "#", class: "btn btn-primary btn-large" %>
			</p>
			</p>
		</div>	
	</div>	


  <div class="span6">
  	<div class="hero-unit">
		  <p>
			<h3>Become a Mentee Today</h2>
			<p>
			Meet the superstars of your industry and learn from their experience.
			</p>
			<p>
					<%= link_to "Sign Up Now To Become A Mentee", "#", class: "btn btn-primary btn-large" %>
			</p>
			</p>
		</div>	
	</div>
</div>

