<div class="hero-unit">
	<h1>Mentees!</h1>
	<h4>Here are 3 reasons why the world needs you.</h4>
			<p>. . . </p>
			<p>You provide the latest skills, fresh insights and energy to solve the biggest problems facing your industry.</p>
			<p>You are the future leaders of your industry.</p>	

		<!-- Begin MailChimp Signup Form -->
	<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://herokuapp.us7.list-manage.com/subscribe/post?u=5787e2b6d2dd9579da815e95a&amp;id=387d98b84f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<label for="mce-EMAIL">We will be launching soon. Subscribe to our mailing list for updates and to be notified when we launch.</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>

<!--End mc_embed_signup-->
</div>	