<div class="hero-unit">
	<h1>Mentors!</h1>
	<h4>Here are 3 reasons why you are awesome.</h4>
	<p>Whether you have 1 year or 25+ years experience you have tremendous knowledge that will inspire your less experienced peers.<p>
	<p>You provide fresh insights to problems and challenge your peers to be the best that they can be.<p> 
	<p>You secure the future of your industry by guiding the future leaders of your industry.</p>

<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://herokuapp.us7.list-manage1.com/subscribe/post?u=5787e2b6d2dd9579da815e95a&amp;id=475e0cc3f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">We will be launching soon. Subscribe to our mailing list for updates and to be notified when we launch.</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->

</div>	